body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p{
    white-space: pre-wrap;
    user-select: none;
    transition: all 0.3s;
}
p:hover{
    text-shadow: #f3ff7bcc 1px 0 5px;
}

/*Grid Change Begin*/

.container {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.1fr 3.3fr 0.8fr;
  grid-template-rows: 60px 20px 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". gc-head gc-head gc-head ."
    ". . . . ."
    ". gc-left . gc-right .";
}

.gc-head {
	grid-area: gc-head;
	display: flex;
	background-color: #171717CC;
	padding: 10px 20px 10px 20px;
}

.gc-left { grid-area: gc-left; }

.gc-right { grid-area: gc-right; }



/*Grid Change End*/

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%) blur(0px);
    z-index: -114514;
}

.style0{
    margin-right: 20%;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.5s;
}
.style0:hover{
    background-color: #d066ee33;
    text-shadow: #f3ff7bcc 1px 0 5px;
}
.style0 a {
    margin: 0;
    font-size: 25px;
    color: #d066ee;
    transition: all 0.3s;
}
.style0 a:hover {
    font-size: 27px;
    color: #5edab8;
}

.style1{
    margin-right: 5%;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.5s;
}
.style1:hover{
    background-color: #66e9ee33;
    text-shadow: #f3ff7bcc 1px 0 5px;
}
.style1 a {
    margin: 0;
    font-size: 25px;
    color: #a866ee;
    transition: all 0.3s;
}
.style1 a:hover {
    font-size: 27px;
    color: #5eda85;
}


.box{
    position: relative;
    background-color: #171717CC;
    border-radius: 15px 15px 15px 15px;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 15px 15px 15px 15px;
    transition: all 0.3s;
}
.box:hover{
    transform: scale(1.02);
    background-color: #17171799;
}
.box .title::before{
    content: "|";
    color: #d066ee;
    margin-right: 5px;
}
.box .title::after{
    content: "";
}
.box .title{
    padding: 5px 10px 5px 10px;
}
.box .title *{
    display: inline;
}
.box img{
	max-width: 100%;
}



#boxs p{
    user-select: none;
    transition: all 0.3s;
}
#boxs p:hover{
    text-shadow: #f3ff7bcc 1px 0 5px;
}


.ms_info{
	
}

.ms_info img{
	max-width: 100%;
}

.ms_info .nametag{
	width: 100%;
	text-align: center;
	margin-top: 0px;
}




.box-img{
    max-width: 95%;
}

/*boxs(id) style*/

#boxs h3{
    color: #f3ff7b;
    transition: all 0.3s;
}
#boxs h3:hover{
    font-size: 1.5em;
    text-shadow: #f3ff7bcc 1px 0 5px;
}


.select-p{
    user-select: text;
}

.box a{
    color: #5eda85;
    transition: all 0.3s;
}
.box a:hover{
    color: #e0d55b;
    font-size: 19px;
}

p a{
    color: #5eda85;
    transition: all 0.3s;
}
p a:hover{
    color: #e0d55b;
    font-size: 19px;
}
.none_select{
    user-select: none;
}
.colorful-a{
    border-radius: 5px 5px 5px 5px;
    transition: all 0.5s;
}
.colorful-a:hover{
    background-color: #66e9ee33;
}
.from-game:before{
    content: "|";
    color: #d066ee;
    margin-right: 5px;
}

.fix-title{
    font-size: 1.25em;
    font-weight: bold;
    color: #f3ff7b;
    transition: all 0.3s;
}
.fix-title:hover{
    font-size: 1.5em;
    text-shadow: #f3ff7bcc 1px 0 10px;
}
