* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 17px;
	color: var(--theme-fg);
}

#background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: var(--theme-bg);
	z-index: -1;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	max-width: 75rem;
	margin: 0.5rem auto;
	padding: 1rem;
	line-height: 1.7;
	gap: 1.5rem;
}

.border {
	border-radius: 1rem;
	padding: 1rem;
	border: 1px solid var(--theme-frost3);
}

hr {
	width: 95%;
	height: 1px;
	margin: 0 auto;
	background-color: var(--theme-green);
}

a,
a:link,
a:visited {
	text-decoration: underline;
	color: var(--theme-frost2);
	transition: all 0.2s ease;
}

a:hover {
	color: var(--theme-purple);
}

.svg-icon {
	width: 24px;
	height: 24px;
	color: var(--theme-frost1);
	transition: all 0.3s;
	flex-shrink: 0;
}

.archive-link {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-bottom: 0.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--theme-frost3);
}

.inlinebox {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

blockquote {
	border-radius: 0.5rem;
	padding: 0.3rem;
	border: 1px solid var(--theme-frost3);
}

del {
/*	color: #6e6e6e;*/
	color: var(--theme-description-bg);
}

.postHeader {
	margin-bottom: 1rem;
}
