*{
    font-family: "微软雅黑", serif;
}


/*普通控件*/
body{
    background-color: #333333;
}

.back {
    position: fixed;
    left: 1%;
    bottom: 1%;
    width: auto;
    z-index: 1;
}

.head_as{
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 5%;
    margin: 1%;
    transition: background-color 0.25s;
    color: #FFFFFF;
    background-color: #3c3c3c;
    opacity: 0.85;
    border-radius: 15px;
    z-index: 1;
}
.head_as:hover{
    background-color: #4a4a4a;
    opacity: 0.95;
}
.head_as *{
    position: relative;
    top: 10%;
    left: 1%;
    margin-right: 1%;
    display: inline;
    font-size: 1.5em;
    user-select: none;
}
.head_as p{
    user-select: none;
    transition: all 0.5s;
}
.head_as p:hover{
    color: #e3bded;
    font-size: 1.6em;
}
.head_as a{
    transition: all 0.5s;
}
.head_as a:hover{
    font-size: 1.6em;
    color: #ffee93
}


.root {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #3B3B3B;
    border-radius: 10px;
}


.box {
    border-bottom: 2px solid #7B7B7B;
    color: #FFFFFF;
    position: relative;
    transition: all 0.5s;
}
.box:hover {

    border-bottom-color: #94cf83;
}

.box h3{
    user-select: none;
    transition: all 0.25s;
    font-size: 1.25em;
}
.box h3:hover{
    color: #fff7db;
    font-size: 1.35em;
    text-shadow: #f6ff94 1px 0 10px;
}
.box p{
    user-select: none;
    transition: all 0.3s;
}
.box p:hover{
    text-shadow: #bbfeff 1px 0 2px;
}


.box .feel{
    border-bottom: 2px solid #9ffff1;
    position: relative;
    width: 15%;
}
.foot {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #8aff8d;
}
.hid {
    background-color: black;
    color: #000000;
    display: inline-block;
    /* 使 div 的大小仅与内容一样，并保持块级元素的特性 */
    transition: all 4.5s;
}

.hid:hover {
    background-color: transparent;
    color: #fff3f3;
    text-shadow: #f3ff7b 1px 0 10px;
    /* 鼠标悬停时文字颜色变为白色 */
}
a:link{
    color: #7FFFD4;
}
a:visited{
    color: #abffff;
}
a{
    text-decoration: none;
}
a:hover{
    color: #ffa3f8;
}
a:active{
    color: #ffee93;
}

.hover_b{
    transition: font-size 0.5s;
}
.hover_b:hover{
    font-size: 1.15em;
}


canvas {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
h3{
    color: #F0FFDB;
}
p{
    color: #FFF9F9;
}
embed{
    z-index: 0;
}
iframe{
    z-index: 0;
}

/*隐藏空间*/
#in {
    color: #ffb0b0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.5s;
}
#in:hover {
    color: #ffde9d;
}
#inx {
    color: #e0ffc3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#hidden_btn {
    font-size: 19px;
    background: none;
    border: none;
    color: #F0FFDB;
    transition: color 1s;
    cursor: default;
    font-weight: bold;
    margin: 0; /* 去除按钮的外边距 */
    padding: 0; /* 去除按钮的内边距 */
}
#hidden_btn:hover{
    font-size: 19px;
    background: none;
    border: none;
    color: #ffebdb;
    cursor: default;
    font-weight: bold;
    margin: 0; /* 去除按钮的外边距 */
    padding: 0; /* 去除按钮的内边距 */
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*等级颜色*/
.fa{
    color:#EC3535;
}
.f{
    color:#E40081;
}
.d{
    color:#AA4BC8;
}
.c{
    color:#4372FF;
}
.b{
    color:#559BC0;
}
.a{
    color:#08C1C1;
}
.s{
    color:#38B20A;
}
