


/*普通控件*/
body{
    background-color: #333333;
}

.head {
    position: fixed;
    left: 0;
    top: 2%;
    width: 100%;
    z-index: 1;
}

.root {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #3B3B3B;
}

.box {
    /*border: 3px solid #7B7B7B;*/
    border-bottom: 2px solid #7B7B7B;
    color: #FFFFFF;
    position: relative;
}
.box .feel{
    border: 3px solid #9ffff1;
    position: relative;
    width: 15%;
}
.box img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.foot {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #8aff8d;
}
.hid {
    background-color: black;
    /* 背景颜色为黑色 */
    color: #000000;
    /* 默认文字颜色为黑色 */
    display: inline-block;
    /* 使 div 的大小仅与内容一样，并保持块级元素的特性 */
    transition: color 4.5s;
    /* 文字颜色的平滑过渡效果 */
}

.hid:hover {
    color: #FFF9F9;
    /* 鼠标悬停时文字颜色变为白色 */
}

a:link{
    color: #7FFFD4;
}
a:visited{
    color: #60ff74;
}
a:hover{
    color: #ffa3f8;
}
a:active{
    color: #ffee93;
}
canvas {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
h3{
    color: #F0FFDB;
    font-family: "微软雅黑", serif;
}
p{
    color: #FFF9F9;
    font-family: "微软雅黑", serif;
}
embed{
    z-index: 0;
}
iframe{
    z-index: 0;
}

/*隐藏空间*/
#in {
    color: #ffc3c3;
    font-family: "微软雅黑", serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#inx {
    color: #e0ffc3;
    font-family: "微软雅黑", serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#hidden_btn {
    font-size: 19px;
    background: none;
    border: none;
    color: #F0FFDB;
    font-family: "微软雅黑", serif;
    cursor: default;
    font-weight: bold;
    margin: 0; /* 去除按钮的外边距 */
    padding: 0; /* 去除按钮的内边距 */
}
#hidden_btn:hover{
    font-size: 19px;
    background: none;
    border: none;
    color: #ffebdb;
    font-family: "微软雅黑", serif;
    cursor: default;
    font-weight: bold;
    margin: 0; /* 去除按钮的外边距 */
    padding: 0; /* 去除按钮的内边距 */
}

.hidden_div{
    display: none;
}

/*等级颜色*/
.fa{
    color:#EC3535;
}
.f{
    color:#E40081;
}
.d{
    color:#AA4BC8;
}
.c{
    color:#4372FF;
}
.b{
    color:#559BC0;
}
.a{
    color:#08C1C1;
}
.s{
    color:#38B20A;
}