html {
	font-size: 17px;
}
#canvas {
	z-index: -100;
	position: fixed;
	width: 100vw;
	height: 100vh;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #e6e6e6;
}
.background {
	background-color: #161616;
}
.container {
	margin: 1rem auto 0 auto;
	max-width: 70rem;
	display: flex;
	flex-direction: column;
}
.border {
	margin: 0 1rem;
	padding: 0.5 1rem;
	border: solid 1px #b5fff85b;
	border-radius: 0.5rem;
}
h1,h2,h3 {
	margin: 0.7rem 0 0.5rem 0;
	color: #e5ffbf;
	font-weight: 700;
	user-select: none;
	transition: all 0.15s;
}
h1:hover,
h2:hover,
h3:hover {
	text-shadow: 0px 0px 10px #b5fff8A0;
}

hr {
	width: 95%;
	margin: 0 auto;
	height: 1px;
	color: #ffbff65c;
}

.s1 {
	border-bottom: 1px solid #ebb5ffb2; 
}
.s2 {
	border-bottom: 1px solid #ffd8b5b2; 
}

p {
	line-height: 1.5;
	margin: 0.9rem 0 0.9rem 0;
	transition: all 0.15s;
}
p:hover {
	text-shadow: 0px 0px 10px #00FFB7A5;
}

a,
a:link,
a:visited {
	transition: all 0.3s;
	color: #ffbff6;
	text-decoration: underline;
}
a:hover {
	color: #e5ffbf;
}
a:active {
	text-decoration: underline;
}

strong {
	font-weight: normal;
	color: #caffbf;
}
