.container {
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "Title Nav Nav"
    "Relation Text Text"
    "Relation Text Text";
}
.Text {
    grid-area: Text;
}
.Title {
    grid-area: Title;
    border-bottom: 1px solid #ffb0b0;
    border-right: 1px solid #ffb0b0;
    align-items: center;
}
.Nav {
    grid-area: Nav;
}
.Relation {
    grid-area: Relation;
}